<h1>Edit Your Repo:</h1>
<h2><%= @repo.content %></h2>

  <form method="POST" action="/repos/<%= @repo.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <p>Content:<input type="textarea" name="content" id="content">
    <br>
    <input type="submit" name="submit" id="submit" value="Edit Repo">
  </form>