<h1>Create a new Repo</h1>

<form method="POST" action="/repos">
  <label>Repo: </label>
  <input type="text" id="content" name="content">
 <!-- <input type="text" id="content" name="tweet[content]"> -->
  <input type="submit" id="submit" value="submit">
</form>