<h3>Repo:</h3>
<p><%=@repo.id%>: <%= @repo.content %></p>

<form action="/repos/<%= @repo.id %>/edit" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <input type="submit" id="Edit Repo" value="Edit Repo">
</form>

<form action="/repos/<%= @repo.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" id="Delete Repo" value="Delete Repo">
</form>