<h1>Login to The Teachers Repository!</h1>

<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" name="submit" id="submit" value="Log In">
</form>