<h3><%= @teacher.username %>!</h3>

<a href="/repos/new">New Repository?</a><br>
<a href="/logout">Log Out</a>

<h4>Repos:</h4>
  <ul>
    <% teacher.repos.each do |r| %>
      <li>"#{r.id}"<%= r.content %></li>
    <% end %>
  </ul>