<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>The Teacher's Repository</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>

  <body>
      <nav>
        <ul>
          <% if logged_in? %>
            <div class="wrapper">
              <li>Welcome, <%= current_user.username %></li>
              <li><a href="/repos">Enter a new Repo</a></li>
              <li><a href="/logout">Logout</a></li>
            </div>
          <% else %>
            <div class="topnav">
              <a class="active" href="#home">Home</a>
              <div class="login-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Username" name="username">
                  <input type="text" placeholder="Password" name="password">
                  <button type="submit">Login</button>
                </form>
              </div>
            </div>
          <% end %>
        </ul>
      </nav>

    <div class="container">

        <%= yield %>

        <footer class="branding">
        <small><center>&copy; 2019 <strong>TeacherRepo</strong></center></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
